<!DOCTYPE html>
<html>
      <head>
        <title> <%= title %> </title>
        <meta name="author" content="Stefano Gonçalves Simao">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/public/style.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    </head>
  <body>
    <h1 id="title"><%= title %></h1>
    <div>
      <p id="welcome">Welcome to the <%= title %></p>
      <hr>
      <form method="POST" action="/A" encType="multipart/form-data" id="endpoint">
        <input type="text" name="string1" placeholder="First string" required size="50">
        <input type="text" name="string2" placeholder="Second string" size="50">
        <div id="radios">
        <input type="radio" id="enda" name="endpoint" value="A" checked onclick="chgAction('A')">
        <label for="A">Endpoint A</label><br>
        <input type="radio" id="endb" name="endpoint" value="B" onclick="chgAction('B')">
        <label for="B">Endpoint B</label><br>
        <input type="radio" id="endc" name="endpoint" value="C" onclick="chgAction('C')">
        <label for="C">Endpoint C</label>
        </div>
        <input class="send" id="submit" type="submit" method="POST" value="SEND" />
    </div>
    <hr>
    <div id="result">
      <p id="outcome">OUTCOME</p>
    </div>


    <footer> 
      <span>@StefanoGonçalvesSimao - 2022 </span>  
    </footer>
  </body>

  <script>
    function chgAction( action_name ){
      var formEndpoint = document.getElementById('endpoint');
      if( action_name=="A" ) {
          formEndpoint.action = "/A";
      }else if( action_name=="B" ) {
          formEndpoint.action = "/B";
      }else if( action_name=="C" ) {
          formEndpoint.action = "/C";
      }
    }
  </script>
</html>
