<!DOCTYPE html>
<html>
      <head>
        <title> <%= title %> </title>
        <meta name="author" content="Stefano Gonçalves Simao">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/public/style.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    </head>
  <body>
    <h1 id="title"><%= title %></h1>
    <div>
      <p id="welcome">Welcome to the <%= title %></p>
      <hr>
      <form method="POST" action="/A" id="endpoint" onsubmit="event.preventDefault(); submitForm();">
        <input type="text" name="string1" placeholder="First string" required size="50" id="string1">
        <input type="text" name="string2" placeholder="Second string" required size="50" id="string2">
        <div id="radios">
        <input type="radio" id="enda" name="endpoint" value="A" checked onclick="chgAction('A')">
        <label for="A">Endpoint A</label><br>
        <input type="radio" id="endb" name="endpoint" value="B" onclick="chgAction('B')">
        <label for="B">Endpoint B</label><br>
        <input type="radio" id="endc" name="endpoint" value="C" onclick="chgAction('C')">
        <label for="C">Endpoint C</label>
        <input type="radio" id="endc" name="endpoint" value="C" onclick="chgAction('C')">
        <label for="C">Endpoint C2</label>
        </div>
        <input class="send" id="submit" type="submit" method="POST" value="SEND" />
    </div>
    <hr>
    <div id="result">
      <p id="outcome"></p>
    </div>


    <footer> 
      <span>@StefanoGonçalvesSimao - 2022 </span>  
    </footer>
  </body>

  <script>
    function chgAction( action_name ){
      var formEndpoint = document.getElementById('endpoint');
      var string2Req = document.getElementById('string2');
      if( action_name == "A" ) {
          formEndpoint.action = "/A";
          string2Req.required=true;
      }else if( action_name == "B" ) {
          formEndpoint.action = "/B";
          string2Req.required=true;
      }else if( action_name == "C" ) {
          formEndpoint.action = "/C";
          string2Req.required=false;
      }
    }

    function submitForm(){
      let endpointAction = document.getElementById('endpoint').action;
      const url = new URL(endpointAction);
      fetch(`${url.pathname}`,
        {  method: "POST", headers: {'Content-Type': 'application/json'},
          body: JSON.stringify({
            "string1": document.getElementById('endpoint').string1.value,
            "string2": document.getElementById('endpoint').string2.value
          })
        }).then(res => {
          if (res.status >= 400) { throw new Error(res.status); }
          return res.text();
        }).then(res => {
          let parsedRes = JSON.parse(res);
          if(Array.isArray(parsedRes.outcome) && Array.isArray(parsedRes.outcome[0])){
            let arrayToDisplay = '[';
            //loop through the array
            for(let i = 0; i < parsedRes.outcome.length; i++){
              arrayToDisplay = arrayToDisplay + `[${parsedRes.outcome[i]}]`
            }
            arrayToDisplay = arrayToDisplay + ']'
            var textToDisplay = `OUTCOME: ${arrayToDisplay}`;
            document.getElementById("outcome").innerHTML = textToDisplay;
          } 
          else if(Array.isArray(parsedRes.outcome)){
            var textToDisplay = `OUTCOME: [${parsedRes.outcome}]`;    
          }else{
            var textToDisplay = `OUTCOME: ${parsedRes.outcome}`;
          }
          document.getElementById("outcome").innerHTML = textToDisplay;
        }).catch(err => { console.error(err); });
    }
    
  </script>
</html>
